/* Fonts */

@font-face {
    font-family: 'Futura-light';
    src: url('../fonts/futura\ light\ bt.ttf')
}

@font-face {
    font-family: 'Futura-extra-black';
    src: url('../fonts/Futura\ Extra\ Black\ font.ttf')
}

@font-face {
    font-family: 'Futura-regular';
    src: url('../fonts/Futura\ Book\ font.ttf')
}

/* Algemene css */

* {
    padding: 0em;
    margin: 0em;
}

main {
    max-width: 60em;
    margin: auto;
}

p,
figcaption {
    font-family: Futura-regular;

}

h1 {
    font-family: Futura-extra-black;
    font-size: 2em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
}

header h1 {

    font-family: Futura-regular;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;

}

h2 {
    font-family: Futura-extra-black;
    font-size: 1.5em;
}

footer h2 {
    font-family: Futura-regular;
    font-size: 1em;
}


a {
    font-family: Futura-light;
    font-size: 1em;
}

/* Header */

header {
    font-family: Futura-light;
    background-color: #a52a2a;
    font-weight: lighter;
    padding: 0.67em;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}


nav ul li a {
    padding: 0.10em 0.33em 0.10em 0.33em;
    margin: 1em;
    text-decoration: none;
    color: white;
    transition-property: text-decoration;
    transition-duration: .5s;
    transition-timing-function: linear;
}

nav ul li a:hover {
    text-decoration: underline;

}

/* Main */
/* Homepagina */

body.homepagina header nav ul li:first-of-type {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
}

body.homepagina main {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

body.homepagina main p:first-of-type strong {
    font-family: Futura-extra-black;
    font-size: 1.2em;
}

body.homepagina main p:first-of-type,
p:nth-of-type(2) {
    text-align: center;
}

body.homepagina main>p:first-of-type {
    margin-top: 2em;
}


body.homepagina main img:nth-of-type(2) {
    width: 25em;
    height: auto;
}

body.homepagina main div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

body.homepagina main div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-top: 2em;

}

body.homepagina main div:first-of-type p {
    text-align: left;
}

body.homepagina main div:nth-of-type(2) p {
    text-align: left;
}

/* Pagina 2 */

body.pagina2 header nav ul li:nth-of-type(2) {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
}

body.pagina2 main section {
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
    gap: 2em;
}

body.pagina2 main section:first-of-type {
    text-align: left;


}

body.pagina2 main div:first-of-type img {
    width: 60em;
}

body.pagina2 main div:first-of-type img {
    width: 100%;
    max-width: 60em;
    height: auto;
}

body.pagina2 main div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

body.pagina2 main div:nth-of-type(3) {
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
}


/* Pagina 3 */

body.pagina3 header nav ul li:nth-of-type(3) {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
}

body.pagina3 main section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 4em;
}

body.pagina3 main div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5em;
}

/* Keyframe animatie pagina 3 */

@keyframes draai {
    0% {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    }

    5% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(360deg);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
}

body.pagina3 main div img {
    animation: draai 1s;
}

body.pagina3 main div:first-of-type img {
    animation-delay: 1s;
}

body.pagina3 main div:nth-of-type(2) img {
    animation-delay: 1.5s;
}

body.pagina3 main div:nth-of-type(3) img {
    animation-delay: 2s;
}

body.pagina3 main div:nth-of-type(4) img {
    animation-delay: 2.5s;
}

/* Pagina 4 */



body.pagina4 header nav ul li:nth-of-type(4) {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
}

body.pagina4 main section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 4em;
}

body.pagina4 main>section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


body.pagina4 section div {
    width: 25em;
    margin-bottom: 5em;
}

body.pagina4 main h1 {
    width: 100%;
}

body.pagina4 section div img {
    height: 25em;
    width: 25em;
}

body.pagina4 div p {
    width: 25em;
    margin-top: 1em;

}

body.pagina4 section div:nth-of-type(2) a {
    font-weight: bold;
    text-decoration: none;
    color: darkblue;
}

body.pagina4 section div:nth-of-type(2) a:hover {
    text-decoration: underline;
}


/* Footer */

footer {
    background-color: brown;
    padding: 1em 0em 1em 0em;
    color: white;
}

footer>* {
    max-width: 60em;
    margin: auto;
}

footer ul {
    list-style-type: none;
}

footer ul li a {
    color: white;
    text-decoration: none;
    padding: 0.33em 0.33em 0.33em 0em;
    transition-property: text-decoration;
    transition-duration: .5s;
    transition-timing-function: linear;
}


footer ul li a:hover {
    text-decoration: underline;
}

/* Media queries */

@media screen and (max-width: 1053px) {

    body.homepagina main {
        margin-left: 5em;
        margin-right: 5em;
    }

    body.homepagina main h1 {
        text-align: center;
    }

    body.homepagina main div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-top: 2em;
    }

    body.pagina2 main h1 {
        text-align: center;
    }

    body.pagina2 main {
        margin-left: 5em;
        margin-right: 5em;
    }

    body.pagina2 main div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    body.pagina2 main div:nth-of-type(3) {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    body.pagina3 main div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3em;
        margin-left: 5em;
        margin-right: 5em;
    }

    body.pagina3 main h1 {
        text-align: center;
    }


    body.pagina4 main h1 {
        text-align: center;
    }

    body.pagina4 main>section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
    }

    body footer ul li a {
        margin-left: 5em;
        margin-right: 5em;
    }

    body footer h2 {
        margin-left: 5em;
        margin-right: 5em;
    }
}